*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p{
  color: rgb(175, 172, 172);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;

}
section h3 {
  
  font-family: 'Caveat', cursive;
  text-decoration:underline cyans;
  font-size: 35px;
  
}

section p{
  color: rgb(135, 136, 139);
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  word-spacing: 4px;
}
section{
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(3,1fr);
}

section .side{
  grid-column-start: 1;
  grid-column-end: 5;
}



section .pic{
  grid-column-start:5;
  grid-column-end: 9;
}

section .pic img{
  width: 600px;
  height: auto;
  padding-top: 20px;
}
section .pic2{
  grid-column-start:1;
  grid-column-end: 5;
}

section .pic2 img{
  width: 400px;
  height: auto;
}
section .side2{
  grid-column-start: 5;
  grid-column-end: 9;
  padding-right: 20px;
  padding-top:40px ;
}

section .pic3{
  grid-column: 6/9;
  grid-row:3/4 ;
}

section .side3{
  grid-column: 1/5;
  grid-row:3/4 ;
  scroll-padding-left: 40px;
}

section .pic3 img{
  width: 600px;
  height: auto;
}
footer {
    display: flex;
    justify-content: space-between;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
   
}

img{
    width: 80px;
    height: 80px;
}




@media only screen and (max-width: 1200px){
  *{
    padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 html {
   height: 100%;
 }
 body {
   
   min-height: 100%;
   display: grid;
   grid-template-rows: 1fr auto;
   grid-template-columns: 1fr auto;
 }
 section h3 {
  
  font-family: 'Caveat', cursive;
  text-decoration:underline cyans;
  font-size: 30px;
  
}

section p{
  color: rgb(135, 136, 139);
  font-family: 'Cormorant Garamond', serif;
  font-size: 35px;
  word-spacing: 2px;
}
 section{
   margin: 10px;
   display: grid;
   grid-template-columns: repeat(8,1fr);
   grid-auto-rows: auto;
   overflow: hidden;
 }
 
 
 section .side{
   grid-column-start: 1;
   grid-column-end: 4;
   padding-left: 20px;
   padding-top: 15px;
 }
 


 
 section .pic{
   grid-column-start:5;
   grid-column-end: 9;
 }
 
 section .pic img{
   width: 500px;
   height: auto;
 }
 section .pic2{
   grid-column-start:1;
   grid-column-end: 5;
 }
 
 section .pic2 img{
   width: 400px;
   height: auto;
 }
 section .side2{
   grid-column-start: 5;
   grid-column-end: 9;
   padding-top: 0px;
 }
 
 section .pic3{
   grid-column: 5/9;
   grid-row:3/4 ;
 }
 
 section .side3{
   grid-column: 1/5;
   grid-row:3/4 ;
 }
 
 section .pic3 img{
   width: 500px;
   height: auto;
 }
 
 footer {
     display: flex;
     justify-content: space-between;
     grid-row-start: 2;
     grid-row-end: 3;
     margin-left: 10px;
     margin-right: 10px;
    padding-right: 10px;
    padding-left:10px ;

    
 }
 
 img{
     width: 60px;
     height: auto;
 }
}










@media only screen and (max-width: 600px) {
*{
   padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
mark{
  background-color: rgba(0, 255, 255, 0.308);
  border-radius: 3px;
}
body {
  
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
}

section{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-auto-rows: auto;
  overflow: hidden;
}
section h3 {
  
  font-family: 'Caveat', cursive;
  text-decoration:underline cyans;
  font-size: 15px;
  
}

section p{
  color: rgb(135, 136, 139);
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  word-spacing: 1px;
}
section .side{
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: 0px;
  padding-top: 0px;
}



section .pic{
  grid-column-start:4;
  grid-column-end: 9;
}

section .pic img{
  width: 200px;
  height: auto;
}
section .pic2{
  grid-column-start:1;
  grid-column-end: 5;
}

section .pic2 img{
  padding-top: 30px;
  width: 170px;
  height: auto;
}
section .side2{
  padding-left: 10px;
  padding-right: 0px;
  grid-column-start: 5;
  grid-column-end: 9;
}

section .pic3{
  grid-column: 5/9;
  grid-row:3/4 ;
}

section .side3{
  padding-left: 10px;
  grid-column: 1/5;
  grid-row:3/4 ;
}

section .pic3 img{
  padding-top: 45px;
  width: 200px;
  height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 10px;
    margin-right: 10px;
   padding-bottom: 5px;
   padding-top: 5px;
   background-color: darkgray;
   border-radius: 10px;
}

img{
    width: 40px;
    height: 40px;
}
}


/* 

font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Arizonia', cursive;
font-family: 'Cormorant Garamond', serif;


*/